body {
    background-color: rgb(27, 33, 43);
}

.box {
    background-color: rgb(148, 148, 148);
    margin-top: 30vh;
}

#text-field{
    background-color: rgb(192, 192, 192);
    border-color: black;
}

#button {
    border-radius: 10px;
    background-color: rgb(79, 98, 129);
    border-color: black;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 30px;
}

input{
    margin-top: 20px;
}

.box {
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
}

.odpovedi {
    text-decoration: none;
    color: blue;
}