@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 33, 43);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 650px 650px 650px;
}

.grid-item {
    padding: 75px;
    margin: 25px;
    text-align: center;
}

.grid-item img {
    width: 400px;
    height: 225px;
    border-radius: 50px;
}

.list-inline-item {
    margin-top: 50px;
    background-color: black;
    border: 50px white;
    font-size: 35px;
    font-family: 'Baloo Da 2', cursive;
}
