.seznam{
    background-color: grey;
    list-style-type:none;
    float: left;
    width: 20%;
}
.seznam li {
    margin: 20px;
    font-size: 35px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.548);

}

.seznam li p {
    color: white;
}

body {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    display: block;
}